body {
  background-color: #23252b;
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100;
  margin: 50px;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  color: white;
  width: 35px;
  height: 35px;
  margin: 5px;
  border: solid white 2px;
  background-color: #23252b;
}